<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="phongban : ${phongbans}">
            <td th:text="${phongban.Ma_Phong}"></td>
            <td th:text="${phongban.name}"></td>
            <td>
<!--                <a th:href="@{/phongbans/edit/{id}(id=${phongban.Ma_Phong})}" class="btn btn-success btn-sm">Edit</a> |-->
                <a th:href="@{/phongbans/delete/{id}(id=${phongban.Ma_Phong})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Bạn có muốn xóa?')">Xóa</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>